
			<ul class="autocomplete_list" >
				<% @categories.each do |c| %>
					<li class="autocomplete_item" >
                                          <span style="display:none"><%= "#{c.id}:" %></span><%= "#{c.name}" %>
                                        </li>
				<% end %>
			</ul>
