<h1>Editing hello</h1>

<% form_for(@hello) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @hello %> |
<%= link_to 'Back', hellos_path %>